.u-section-1 {
  min-height: 799px;
}

.u-section-1 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 376px);
  height: 799px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  width: 1140px;
  min-height: 657px;
  margin: -728px auto 60px;
}

.u-section-1 .u-image-1 {
  background-image: url("images/MainPic02.png");
  background-position: 50% 50%;
  min-height: 657px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 657px;
}

.u-section-1 .u-container-layout-2 {
  padding: 60px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 200;
  margin: 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 8px;
  font-size: 1.25rem;
  font-weight: 900;
  margin: 76px 41px 0;
}

.u-section-1 .u-btn-1 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  background-image: none;
  border-style: none;
  margin: 20px auto 0;
  padding: 11px 67px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 657px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 684px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 362px);
    left: 0;
    right: auto;
    height: auto;
    margin: initial;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-top: 71px;
    min-height: 427px;
  }

  .u-section-1 .u-image-1 {
    min-height: 542px;
    pointer-events: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 542px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 542px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 557px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 253px);
    height: auto;
    margin: initial;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-image-1 {
    min-height: 415px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 30px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 415px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 2010px;
  }

  .u-section-1 .u-shape-1 {
    height: 468px;
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -397px;
    min-height: 635px;
  }

  .u-section-1 .u-image-1 {
    min-height: 623px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 934px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 1318px;
  }

  .u-section-1 .u-shape-1 {
    height: 329px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -258px;
    min-height: 404px;
  }

  .u-section-1 .u-image-1 {
    min-height: 392px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 588px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 468px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 397px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 200;
  margin: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 47px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 397px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 400;
  margin: 0;
}

.u-section-2 .u-line-1 {
  margin-top: 30px;
  margin-bottom: 0;
  height: 3px;
  transform-origin: left center;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  line-height: 2;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 398px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 327px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 327px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 168px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 268px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 883px;
}

.u-section-3 .u-shape-1 {
  width: 166px;
  height: 166px;
  margin: 324px 16px 0 auto;
}

.u-section-3 .u-shape-2 {
  width: 228px;
  height: 228px;
  background-image: none;
  margin: -430px auto 0 788px;
}

.u-section-3 .u-image-1 {
  height: 489px;
  width: 683px;
  margin: -125px auto 0 218px;
}

.u-section-3 .u-group-1 {
  width: 449px;
  min-height: 497px;
  margin: -385px auto 60px 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  font-size: 3rem;
  margin: 42px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 842px;
  }

  .u-section-3 .u-shape-1 {
    width: 105px;
    height: 105px;
    margin-top: 393px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -438px;
    margin-right: 75px;
    margin-left: auto;
  }

  .u-section-3 .u-image-1 {
    height: 436px;
    width: 581px;
    margin-top: -136px;
    margin-right: 141px;
    margin-left: auto;
  }

  .u-section-3 .u-group-1 {
    width: 405px;
    margin-top: -365px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1036px;
  }

  .u-section-3 .u-shape-1 {
    width: 106px;
    height: 106px;
    margin-top: 633px;
    margin-right: 42px;
  }

  .u-section-3 .u-shape-2 {
    width: 212px;
    height: 212px;
    margin-top: -679px;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    height: 416px;
    width: 554px;
    margin-top: -114px;
    margin-right: auto;
    margin-left: 66px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -157px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 974px;
  }

  .u-section-3 .u-shape-1 {
    width: 103px;
    height: 103px;
    margin-top: 619px;
    margin-right: 29px;
  }

  .u-section-3 .u-shape-2 {
    width: 178px;
    height: 178px;
    margin-top: -662px;
  }

  .u-section-3 .u-image-1 {
    height: 327px;
    width: 433px;
    margin-left: 38px;
  }

  .u-section-3 .u-group-1 {
    width: 378px;
    min-height: 489px;
    margin-top: -86px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1055px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 891px;
    margin-right: 20px;
  }

  .u-section-3 .u-shape-2 {
    width: 137px;
    height: 137px;
    margin-top: -934px;
    margin-right: -34px;
    margin-left: 237px;
  }

  .u-section-3 .u-image-1 {
    height: 245px;
    width: 320px;
    margin-top: -88px;
    margin-right: 20px;
    margin-left: auto;
  }

  .u-section-3 .u-group-1 {
    width: 294px;
    min-height: 496px;
    margin-top: -30px;
    margin-left: 13px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-4 {
  min-height: 1051px;
}

.u-section-4 .u-shape-1 {
  height: 607px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-shape-2 {
  width: 935px;
  height: 476px;
  background-image: none;
  margin: -245px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-4 .u-shape-3 {
  width: 228px;
  height: 228px;
  margin: -793px calc(((100% - 1140px) / 2) + 52px) 0 auto;
}

.u-section-4 .u-image-1 {
  width: 904px;
  height: 603px;
  margin: -138px auto 0 calc(((100% - 1140px) / 2) + 99px);
}

.u-section-4 .u-group-1 {
  min-height: 427px;
  width: 645px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  margin: -193px calc(((100% - 1140px) / 2)) 51px auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 60px 30px 50px;
}

.u-section-4 .u-text-1 {
  font-weight: 300;
  font-size: 3rem;
  margin: 42px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  line-height: 1.8;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-shape-2 {
    width: 750px;
    height: 464px;
    margin-left: calc(((100% - 940px) / 2) + 3px);
  }

  .u-section-4 .u-shape-3 {
    margin-top: -754px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-image-1 {
    width: 771px;
    height: 575px;
    margin-top: -136px;
    margin-left: auto;
  }

  .u-section-4 .u-group-1 {
    margin-top: -194px;
    margin-right: calc(((100% - 940px) / 2));
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-4 {
    min-height: 975px;
  }

  .u-section-4 .u-shape-1 {
    height: 517px;
  }

  .u-section-4 .u-shape-2 {
    width: 594px;
    height: 348px;
    margin-top: -174px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-shape-3 {
    width: 211px;
    height: 211px;
    margin-top: -622px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-image-1 {
    width: 575px;
    height: 452px;
  }

  .u-section-4 .u-group-1 {
    min-height: 454px;
    width: 563px;
    margin-top: -145px;
    margin-right: calc(((100% - 720px) / 2));
    margin-bottom: 23px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 {
    min-height: 956px;
  }

  .u-section-4 .u-shape-1 {
    height: 382px;
  }

  .u-section-4 .u-shape-2 {
    width: 417px;
    height: 331px;
    margin-top: -136px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-shape-3 {
    width: 185px;
    height: 185px;
    margin-top: -508px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-image-1 {
    width: 422px;
    height: 353px;
    margin-top: -118px;
    margin-right: calc(((100% - 540px) / 2) + 51px);
  }

  .u-section-4 .u-group-1 {
    min-height: 450px;
    width: 459px;
    margin-top: -38px;
    margin-right: calc(((100% - 540px) / 2));
    margin-bottom: 55px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 {
    min-height: 836px;
  }

  .u-section-4 .u-shape-1 {
    height: 252px;
  }

  .u-section-4 .u-shape-2 {
    width: 340px;
    height: 175px;
    margin-top: -36px;
    margin-left: auto;
  }

  .u-section-4 .u-shape-3 {
    width: 119px;
    height: 119px;
    margin-top: -335px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-image-1 {
    width: 266px;
    height: 221px;
    margin-top: -75px;
    margin-right: auto;
  }

  .u-section-4 .u-group-1 {
    min-height: 483px;
    width: 340px;
    margin-top: -28px;
    margin-right: auto;
    margin-bottom: -63px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 747px;
}

.u-section-5 .u-text-1 {
  font-weight: 300;
  letter-spacing: normal;
  text-transform: none;
  text-decoration: none solid rgb(17, 17, 17);
  font-size: 3rem;
  margin: 70px 438px 0 0;
}

.u-section-5 .u-text-2 {
  font-weight: 600;
  margin: 32px 407px 0 0;
}

.u-section-5 .u-shape-1 {
  width: 687px;
  height: 25px;
  margin: 32px auto 0 0;
}

.u-section-5 .u-list-1 {
  grid-auto-rows: 100%;
  margin-top: 34px;
  margin-bottom: 60px;
  margin-left: 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 252px;
  grid-gap: 10px 10px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-5 .u-text-3 {
  line-height: 32px;
  font-weight: 300;
  margin: 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 30px 30px 0;
}

.u-section-5 .u-text-4 {
  line-height: 32px;
  font-weight: 300;
  margin: 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 30px 30px 0;
}

.u-section-5 .u-text-5 {
  line-height: 32px;
  font-weight: 300;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-right: 238px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 207px;
  }

  .u-section-5 .u-list-1 {
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 208px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-right: 18px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 478px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    font-size: 3.75rem;
    margin-right: 0;
  }

  .u-section-5 .u-shape-1 {
    width: 540px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-5 .u-shape-1 {
    width: 340px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 918px;
}

.u-section-6 .u-image-1 {
  height: 658px;
  width: 583px;
  margin: 60px auto 0 88px;
}

.u-section-6 .u-shape-1 {
  width: 237px;
  height: 237px;
  margin: -125px auto 0 0;
}

.u-section-6 .u-shape-2 {
  width: 228px;
  height: 228px;
  background-image: none;
  margin: -798px 0 0 auto;
}

.u-section-6 .u-group-1 {
  width: 462px;
  min-height: 549px;
  margin: -136px 88px 189px auto;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 40px 30px 35px;
}

.u-section-6 .u-text-1 {
  font-weight: 300;
  font-size: 3rem;
  margin: 76px 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 887px;
  }

  .u-section-6 .u-image-1 {
    height: 637px;
    width: 479px;
    margin-top: 55px;
    margin-left: 60px;
  }

  .u-section-6 .u-shape-1 {
    width: 219px;
    height: 219px;
    margin-top: -126px;
    margin-left: -34px;
  }

  .u-section-6 .u-shape-2 {
    margin-top: -777px;
    margin-right: 12px;
  }

  .u-section-6 .u-group-1 {
    width: 419px;
    margin-top: -137px;
    margin-bottom: 145px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1161px;
  }

  .u-section-6 .u-shape-2 {
    margin-top: 93px;
    margin-right: -20px;
  }

  .u-section-6 .u-group-1 {
    width: 388px;
    min-height: 544px;
    margin-top: -609px;
    margin-right: 40px;
    margin-bottom: 120px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 26px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 12px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1154px;
  }

  .u-section-6 .u-image-1 {
    height: 468px;
    width: 390px;
    margin-left: 39px;
  }

  .u-section-6 .u-shape-1 {
    width: 177px;
    height: 177px;
    margin-top: -538px;
    margin-left: -50px;
  }

  .u-section-6 .u-shape-2 {
    width: 190px;
    height: 190px;
    margin-top: 677px;
    margin-right: -35px;
  }

  .u-section-6 .u-group-1 {
    width: 365px;
    min-height: 559px;
    margin-top: -621px;
    margin-right: 12px;
    margin-bottom: 47px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1119px;
  }

  .u-section-6 .u-image-1 {
    height: 382px;
    width: 297px;
    margin-top: 116px;
    margin-left: 0;
  }

  .u-section-6 .u-shape-1 {
    width: 150px;
    height: 150px;
    margin-top: -443px;
    margin-left: -37px;
  }

  .u-section-6 .u-shape-2 {
    width: 154px;
    height: 154px;
    margin-top: 706px;
  }

  .u-section-6 .u-group-1 {
    width: 290px;
    margin-top: -606px;
    margin-right: auto;
    margin-bottom: 70px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 14px;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 824px;
}

.u-section-7 .u-shape-1 {
  background-image: none;
  width: 822px;
  left: auto;
  right: 0;
}

.u-section-7 .u-layout-wrap-1 {
  width: 1020px;
  margin: 60px auto 60px 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 326px;
}

.u-section-7 .u-container-layout-1 {
  padding: 20px 40px;
}

.u-section-7 .u-icon-1 {
  height: 82px;
  width: 82px;
  background-image: none;
  color: rgb(143, 126, 109) !important;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 378px;
}

.u-section-7 .u-container-layout-2 {
  padding: 20px 40px;
}

.u-section-7 .u-icon-2 {
  height: 82px;
  width: 82px;
  background-image: none;
  color: rgb(143, 126, 109) !important;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-7 .u-text-4 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-7 .u-image-1 {
  min-height: 652px;
  background-image: url("images/fdff.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-3 {
  padding: 20px 17px 20px 20px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 820px;
  }

  .u-section-7 .u-shape-1 {
    width: 733px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 300px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 348px;
  }

  .u-section-7 .u-image-1 {
    min-height: 601px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 864px;
  }

  .u-section-7 .u-shape-1 {
    width: 618px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 660px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 320px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 368px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
  }

  .u-section-7 .u-text-4 {
    font-size: 1.125rem;
  }

  .u-section-7 .u-image-1 {
    min-height: 688px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1336px;
  }

  .u-section-7 .u-shape-1 {
    width: 440px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 480px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 292px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 340px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
  }

  .u-section-7 .u-image-1 {
    min-height: 584px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1206px;
  }

  .u-section-7 .u-shape-1 {
    width: 280px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 305px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 312px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 360px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-7 .u-image-1 {
    min-height: 414px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 672px;
}

.u-section-8 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 523px;
  background-position: 0% 0%;
}

.u-section-8 .u-shape-1 {
  width: 413px;
  left: 71px;
  right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-image-1 {
  height: 407px;
  margin: 0 auto 0 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 523px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  font-size: 3.75rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 200;
  margin: 67px 0 0;
}

.u-section-8 .u-text-2 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 564px;
  }

  .u-section-8 .u-shape-1 {
    width: 349px;
    left: 42px;
    margin-top: initial;
    margin-bottom: initial;
  }

  .u-section-8 .u-image-1 {
    height: 444px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 431px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 479px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 549px;
  }

  .u-section-8 .u-shape-1 {
    width: 285px;
    height: 447px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 0 auto;
  }

  .u-section-8 .u-image-1 {
    height: 340px;
    margin-top: -393px;
    margin-bottom: 54px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-8 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 744px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 648px;
  }

  .u-section-8 .u-shape-1 {
    width: 413px;
    left: 42px;
    right: auto;
    height: auto;
    margin: initial;
  }

  .u-section-8 .u-image-1 {
    height: 510px;
    margin-top: 54px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-2 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 561px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 386px;
  }

  .u-section-8 .u-shape-1 {
    width: 280px;
    left: 0;
    height: auto;
    margin: initial;
  }

  .u-section-8 .u-image-1 {
    height: 270px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-1 {
    font-size: 2.25rem;
  }
}